.registerUser {
    height: 100%;
    width: 100%;
    background-color:  lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.registerUser__content {
    height: 90%;
    width: 70%;
    background-color: gray;
    border-radius: 12px;
    box-shadow: 0px 0px 15px darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.registerUser__contentForm {
    border: 1px dotted white;
    height: 95%;
    width: 70%;
}

.registerUser__contentForm--input {
    height: 10%;
    width: 60%;
}

.registerUser__contentForm--button {

}