.subHeader {
    height: 18%;
    width: 98%;
    padding-left: 2%;
    display: flex;
}

.subHeader__button {
    height: 100%;
    width: 7%;
    background-color: rgb(141, 140, 140);
    margin-right: 1%;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9vw;
}

.subHeader__button.__selected {
    background-color: black;
}

.subHeader__button:hover {
    background-color: rgb(121, 120, 120) !important;
    transition: 0.2s;
}